.cartitems {
    margin: 100px 170px;
}
.cartitems hr {
    border: 0;
    height: 3px;
    background: #333;
}
.cartitems-format-main, .cartitems-format {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
}
.cartitems-format-main {
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon {
    height: 62px;
}
.cartitems-remove-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 40px;
}
.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #333;
}
.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex:1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background-color: #d95ba4;
    color: #64a4eb;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}